@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --component-bg-color: #f9fafb; /* Light background for components */
}

[data-theme="dark"] {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --component-bg-color: #2d3748; /* Dark background for components */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* An animation that spins a loading icon indefinitely */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}